requests>=2.32,<3
tqdm>=4.67,<5
pandas>=2.2,<3
pyarrow>=17,<23
numpy>=2.0,<3
networkx>=3.5,<4
osmium>=4.3,<5
geopandas>=1.0,<2
shapely>=2.0,<3
pyogrio>=0.10,<1
pyproj>=3.7,<4
rasterio>=1.4,<2
rioxarray>=0.18,<1
xarray>=2025.1,<2027
netCDF4>=1.7,<2
h5netcdf>=1.4,<2
pystac-client>=0.8,<1
planetary-computer>=1.0,<2
boto3>=1.35,<2
rarfile>=4.2,<5
